.vagrant
*.retry
**/vagrant_ansible_inventory
*.iml
temp
offline-files
.idea
.vscode
.tox
.cache
*.bak
/ssh-bastion.conf
**/*.sw[pon]
*~
vagrant/
plugins/mitogen


inventory/*
!inventory/local
!inventory/sample
inventory/*/artifacts/


__pycache__/
*.py[cod]
*$py.class


.Python
env/
build/
credentials/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot



venv/
ENV/



